.git
.github
node_modules
.pnpm-store
coverage
*.log
.env
.env.*
!.env.example
!.env.production.example
*.sql
*.sql.gz
*.dump

!apps/server/migrations/*.sql

apps/*/dist
packages/*/dist
apps/miniapp/.vite
